<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}InvoiceIO{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
              <a class="navbar-brand" href="#">InvoiceIO</a>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Registros</a></li>
                <li class=""><a href="/">Reportes</a></li>
                <li class=""><a href="/">Categorias</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div id="content">

            <div class="col-md-3">
              {% block side %}

              {% endblock %}
            </div>
            <div class="col-md-9">
              <!-- <div class="registro-form">
                Acá va el form
              </div> -->
              {% for flashMessage in app.session.flashbag.get('mensaje') %}
              <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>{{ flashMessage }}</strong>
              </div>
              {% endfor %}
              {% block contenido %}

              {% endblock %}
            </div>
        </div>


        {% block javascripts %}{% endblock %}
        <script charset="utf-8" src="{{ asset('bower_components/jquery/dist/jquery.min.js')}}"></script>
        <script charset="utf-8" src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <script charset="utf-8" src="{{ asset('js/funciones.js')}}"></script>

    </body>
</html>
